# Require admin approval to modify all files in the root of the repository
# This includes setup.py, the README, and the CODEOWNERS file itself!
/* @mosaicml/composer-team-admins

# Require admin approval to change the CI build configuration
# All CI Changes should be reviewed for security
/.ci/ @mosaicml/composer-team-admins

# Require admin approval to change the Dockerfile configuration
# All dockerfile changes should be reviewed for security
# Adding Bandish explicitely, too.
/docker/ @bandish-shah @mosaicml/composer-team-admins

# Assign the entire eng team to own all subfolders that are not .ci or docker
# This allows anyone on Composer to approve any PR that does not touch .ci or docker
/composer @composer-team-eng
/docs @composer-team-eng
/examples @composer-team-eng
/scripts @composer-team-eng
/tests @composer-team-eng

# Assigning domain-specific owners for certain portions of the repo
# Because of the catch-all above, their reviews are optional, but listing them as codeowners will automatically
# add them as reviewers
/composer/loggers/ @eracah
/composer/profiler/ @bandish-shah
/composer/cli/ @jbloxham @mvpatel2000
/composer/algorithms/ @composer-team-research @dskhudia
/composer/datasets/streaming/ @knighton
/composer/datasets/[!streaming] @composer-team-research @dskhudia
/composer/loss/ @composer-team-research @dskhudia
/composer/metrics/ @composer-team-research @dskhudia
/composer/models/ @composer-team-research @dskhudia
/composer/optim/ @composer-team-research @dskhudia
/composer/yamls/ @composer-team-research @dskhudia
