.related-information {
    display: none;
}

.related-pages {
    height: 4rem;
}

.card-img-top {
    background-color: white;
}

.card-title {
    font-size: 22px;
    margin: 0;
}

body:not([data-theme="light"]) .card-title {
    font-size: 22px;
    color: white;
    margin: 0;
}

.card-body p {
    display: inline;
}
