.related-information {
    display: none;
}

.related-pages {
    height: 4rem;
}

.card-img-top {
    background-color: white;
}

.card-title {
    color: var(--color-foreground)!important;
    font-size: 22px;
    margin: 0;
}

.card-body p {
    display: inline;
}

.sidebar-container {
    width: 255px;
}

kbd:not(.compound) {
    box-shadow: none!important;
    color: black;
}
