name: PR CPU tests
on:
  pull_request:
  workflow_dispatch:

# Cancel old runs when a new commit is pushed to the same branch if not on main or dev
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/dev' }}
jobs:
  pytest-cpu:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
        - name: "cpu-2.3.1"
          container: mosaicml/pytorch:2.3.1_cpu-python3.11-ubuntu20.04
          markers: "not gpu and not only_release"
          pip_deps: "[cpu]"
          pytest_command: "coverage run -m pytest"
        - name: "cpu-2.3.1-released"
          container: mosaicml/pytorch:2.3.1_cpu-python3.11-ubuntu20.04
          markers: "not gpu and not dev"
          pip_deps: "[cpu_released]"
          pytest_command: "coverage run -m pytest"
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Run PR CPU Tests
      uses: mosaicml/ci-testing/.github/actions/pytest-cpu@v0.1.0
      with:
        container: ${{ matrix.container }}
        name: ${{ matrix.name }}
        pip_deps: ${{ matrix.pip_deps }}
        pytest_command: ${{ matrix.pytest_command }}
        pytest_markers: ${{ matrix.markers }}
        safe_directory: runtime-private-plugins
