name: PR CPU tests
on:
  pull_request:
  workflow_dispatch:
# Cancel old runs when a new commit is pushed to the same branch if not on main
# or dev
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' && github.ref != 'refs/heads/dev' }}
jobs:
  pytest-cpu:
    uses: mosaicml/ci-testing/.github/workflows/pytest-cpu.yaml@v0.0.4
    strategy:
      matrix:
        include:
        - name: cpu-3.10-2.0
          container: mosaicml/pytorch:2.0.1_cpu-python3.10-ubuntu20.04
          markers: not daily and not remote and not gpu and not doctest
          pytest_command: coverage run -m pytest
        - name: cpu-3.10-2.1
          container: mosaicml/pytorch:2.1.2_cpu-python3.10-ubuntu20.04
          markers: not daily and not remote and not gpu and not doctest
          pytest_command: coverage run -m pytest
        - name: cpu-doctest
          container: mosaicml/pytorch:2.1.2_cpu-python3.10-ubuntu20.04
          markers: not daily and not remote and not gpu and doctest
          pytest_command: coverage run -m pytest tests/test_docs.py
    name: ${{ matrix.name }}
    if: github.repository_owner == 'mosaicml'
    with:
      composer_package_name: mosaicml
      container: ${{ matrix.container }}
      name: ${{ matrix.name }}
      pip_deps: "[all]"
      pytest-command: ${{ matrix.pytest_command }}
      pytest-markers: ${{ matrix.markers }}
      safe_directory: composer
  coverage:
    uses: ./.github/workflows/coverage.yaml
    name: Coverage Results
    if: github.repository_owner == 'mosaicml'
    needs: [pytest-cpu]
    with:
      download-path: artifacts
