name: PR GPU tests
on:
  pull_request_target:
  workflow_dispatch:
# Cancel old runs when a new commit is pushed to the same branch if not on main
# or dev
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
jobs:
  pytest-gpu-1:
    name: ${{ matrix.name }}
    runs-on: linux-ubuntu
    if: github.repository_owner == 'mosaicml'
    strategy:
      matrix:
        include:
        - name: gpu-3.11-2.4-1
          container: mosaicml/pytorch:2.4.0_cu124-python3.11-ubuntu20.04
          markers: not daily and not remote and gpu and (doctest or not doctest)
          pytest_command: coverage run -m pytest
          composer_package_name: mosaicml
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Run PR GPU Tests
      uses: mosaicml/ci-testing/.github/actions/pytest-gpu@v0.1.2
      with:
        name: ${{ matrix.name }}
        composer_package_name: ${{ matrix.composer_package_name }}
        container: ${{ matrix.container }}
        git_repo: mosaicml/composer
        mcloud_timeout: 2250
        pip_deps: "[all]"
        pytest_command: ${{ matrix.pytest_command }}
        pytest_markers: ${{ matrix.markers }}
        python_version: 3.9
        gpu_num: 1
        mcloud_api_key: ${{ secrets.MCLOUD_API_KEY }}
        ci_repo_gpu_test_ref: v0.1.2
  pytest-gpu-2:
    name: ${{ matrix.name }}
    runs-on: linux-ubuntu
    strategy:
      matrix:
        include:
        - name: gpu-3.11-2.4-2
          container: mosaicml/pytorch:2.4.0_cu124-python3.11-ubuntu20.04
          markers: not daily and not remote and gpu and (doctest or not doctest)
          pytest_command: coverage run -m pytest
          composer_package_name: mosaicml
    if: github.repository_owner == 'mosaicml'
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Run PR GPU Tests
      uses: mosaicml/ci-testing/.github/actions/pytest-gpu@v0.1.2
      with:
        name: ${{ matrix.name }}
        composer_package_name: ${{ matrix.composer_package_name }}
        container: ${{ matrix.container }}
        git_repo: mosaicml/composer
        mcloud_timeout: 2250
        pip_deps: "[all]"
        pytest_command: ${{ matrix.pytest_command }}
        pytest_markers: ${{ matrix.markers }}
        python_version: 3.9
        gpu_num: 2
        mcloud_api_key: ${{ secrets.MCLOUD_API_KEY }}
        ci_repo_gpu_test_ref: v0.1.2
  pytest-gpu-4:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
        - name: gpu-3.11-2.4-4
          container: mosaicml/pytorch:2.4.0_cu124-python3.11-ubuntu20.04
          markers: not daily and not remote and gpu and (doctest or not doctest)
          pytest_command: coverage run -m pytest
          composer_package_name: mosaicml
    if: github.repository_owner == 'mosaicml'
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Run PR GPU Tests
      uses: mosaicml/ci-testing/.github/actions/pytest-gpu@v0.1.2
      with:
        name: ${{ matrix.name }}
        composer_package_name: ${{ matrix.composer_package_name }}
        container: ${{ matrix.container }}
        git_repo: mosaicml/composer
        mcloud_timeout: 2250
        pip_deps: "[all]"
        pytest_command: ${{ matrix.pytest_command }}
        pytest_markers: ${{ matrix.markers }}
        python_version: 3.9
        gpu_num: 4
        mcloud_api_key: ${{ secrets.MCLOUD_API_KEY }}
        ci_repo_gpu_test_ref: v0.1.2
