name: Pytest GPU
on:
  workflow_call:
    inputs:
      container:
        required: true
        type: string
      mcloud-timeout:
        required: false
        type: number
        default: 1200
      name:
        required: true
        type: string
      pytest-command:
        required: true
        type: string
      pytest-markers:
        required: true
        type: string
      python-version:
        required: false
        type: string
        default: 3.9
    secrets:
      mcloud-api-key:
        required: true
jobs:
  pytest-gpu:
    timeout-minutes: 30 # ${{ inputs.gha-timeout }} for some reason not able to turn this into an input
    runs-on: ubuntu-latest
    env:
      MOSAICML_API_KEY: ${{ secrets.mcloud-api-key }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ inputs.python-version }}
      - name: Cache pip
        uses: actions/cache@v3
        with:
          # This path is specific to Ubuntu
          path: ~/.cache/pip
          # Look to see if there is a cache hit for the corresponding requirements file
          key: ${{ runner.os }}-pip-${{ hashFiles('setup.py') }}
          restore-keys: |
            ${{ runner.os }}-pip-
            ${{ runner.os }}-
      - name: Setup MCLI
        run: |
          set -ex
          python -m pip install --upgrade mosaicml-cli
          mcli init --mcloud
          mcli version
      - name: Submit Run
        id: tests
        run: |
          set -ex
          export PR_NUMBER=$(jq --raw-output .pull_request.number "$GITHUB_EVENT_PATH")
          python .github/mcp/mcp_pytest.py --image '${{ inputs.container }}' --pr_number $PR_NUMBER --pytest_markers '${{ inputs.markers }}' --pytest_command '${{ inputs.pytest-command }}' --timeout ${{ inputs.mcloud-timeout }}
